/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f7f7;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Seta */
.seta {
  position: absolute;
  top: 8%;
  left: 30px;
  font-size: 40px;
  text-decoration: none;
  z-index: 10;
  transition: .2s;
}
.seta img {
  width: 15px;
  height: auto;
  filter: brightness(0) invert(1);
}
.seta:hover { transform: scale(1.2); }

/* Esquerda */
.left-side {
  flex: 1;
  background: linear-gradient(to top, #9ddeff 15%, #049bff 85%);
  border-top-right-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
}

/* Área da marca (igual cadastro) */
/* Área da marca */
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -100px; /* igual ao cadastro */
}

.brand .title {
  width: 450px;
  margin-bottom: 10px;
}

.brand p {
  font-size: 1.6rem;
  max-width: 420px;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: left;
  padding-left: 20px;
}

.brand .logos {
  display: flex;
  gap: 20px;
  margin-top: 150px; /* igual ao cadastro */
}

.brand .logos img {
  width: 300px; /* mesma largura do cadastro */
}

/* Direita */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  width: 100%;
  max-width: 480px;
  background: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 6px 25px rgba(139, 139, 139, 0.15);
  text-align: center;
}

.instruction {
  font-size: 1rem;
  color: #47b6ff;
  margin-bottom: 25px;
}

/* Código */
.code-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.code-input {
  width: 45px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  border: none;
  border-bottom: 3px solid #47b6ff;
  outline: none;
  background: transparent;
  transition: 0.2s;
}

.code-input:focus {
  border-color: #0099ff;
}

/* Link reenviar */
.resend-link {
  font-size: 13px;
  color: #0099ff;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.resend-link:hover { text-decoration: underline; }

/* Botão */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #0099ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: .25s;
}
.btn:hover { background: #47b6ff; }
